<a href="/articulos/listado1">Listar todos los clientes que tengan peso mayor a 90 y altura mayor a 1.78</a></p>
<a href="/articulos/listado2">Listar todos los clientes que no pertenecen a Mar del Plata y tengan un email igual a
gmail</a></p>
<a href="/articulos/promedioAltura">Mostrar el promedio de alturas de los clientes</a></p>
<a href="/articulos/masPesado">Mostrar el más alto peso de los clientes</a></p>
<a href="/articulos/masChicoEdad">Mostrar el cliente con menor edad</a></p>

<a href="/articulos/modificarFecha">Cambiar la fecha de nacimiento de Mercado: 04/04/1972</a></p>
<a href="/articulos/modificarMovil">Cambiar el teléfono Movil 2 de Forchino a 223445545</a></p>
<a href="/articulos/modificarAltura">Cambiar la altura del cliente Fernandez Javier a 1.80</a></p>


